@charset "UTF-8";

/********************
 * CSS for auth page.
 ********************/

/*
 * Input style.
 */
.AuthPage form div input {
    width: 55%;
}

/*
 * Label style.
 */
.AuthPage form div label {
    width: 40%;
    text-align: right;
}

/********************
 * CSS for main page.
 ********************/

/*
 * Rows style.
 */
.IndexPage #rows .row .left {
    width: calc(100% - 5em);
}

.IndexPage #rows .row .right {
    width: 4em;
    text-align: right;
}

/********************
 * CSS for setting page.
 ********************/

/*
 * Input style.
 */
.SettingIndexPage form div input[type="text"],
.SettingIndexPage form div input[type="number"],
.SettingIndexPage form div input[type="password"] {
    width: 50%;
}

/*
 * Anchor style.
 */
.SettingIndexPage form div span.anchors {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.SettingIndexPage form div span.anchors a {
    margin-right: 0.2em;
}

/*
 * Label style.
 */
.SettingIndexPage form div label {
    padding-right: 0.5em;
    width: 40%;
    text-align: right;
}
