@charset "UTF-8";

/********************
 * CSS for main page.
 ********************/

/*
 * Section style.
 */
.IndexPage section.block {
    width: 100%;
}

/********************
 * CSS for setting auth page.
 ********************/

/*
 * Input style.
 */
.SettingAuthPage form p input {
    width: 100%;
}

/*
 * Label style.
 */
.SettingAuthPage form p label {
    width: 100%;
    text-align: left;
}

/********************
 * CSS for setting page.
 ********************/

/*
 * Input style.
 */
.SettingIndexPage form p input[type="text"],
.SettingIndexPage form p input[type="number"],
.SettingIndexPage form p input[type="password"] {
    width: 100%;
}

/*
 * Label style.
 */
.SettingIndexPage form p label {
    width: 100%;
    text-align: left;
}
