@charset "UTF-8";

/********************
 * CSS for auth page.
 ********************/

/*
 * Input style.
 */
.AuthPage form p input {
    width: 100%;
}

/*
 * Label style.
 */
.AuthPage form p label {
    width: 100%;
    text-align: left;
}

/********************
 * CSS for main page.
 ********************/

/*
 * Rows style.
 */
.IndexPage #rows .row .left {
    width: calc(100% - 3em);
}

.IndexPage #rows .row .right {
    width: 2em;
    text-align: right;
}

/********************
 * CSS for setting page.
 ********************/

/*
 * Input style.
 */
.SettingIndexPage form p input[type="text"],
.SettingIndexPage form p input[type="number"],
.SettingIndexPage form p input[type="password"] {
    width: 100%;
}

/*
 * Label style.
 */
.SettingIndexPage form p label {
    width: 100%;
    text-align: left;
}
