@charset "UTF-8";

/********************
 * CSS for all.
 ********************/

/*
 * All elements style.
 */
* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-weight: normal;
    color: #333;
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

a:link {
    color: #036eb8;
}

a:visited {
    color: #036eb8;
}

a:hover {
    opacity: 0.5;
}

/*
 * Button style.
 */
button {
	padding: 0.5em 1em;
	font-size: inherit;
}

_::-webkit-full-page-media, _:future, :root button {
	-webkit-appearance: none;
    border-radius: 0;
    background: linear-gradient(#f9f9f9, #eee);
}

/*
 * Input style.
 */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"] {
	padding: 0.2em 0.4em;
    font-size: inherit;
}

/*
 * Select style.
 */
select {
    padding: 0.2em 0.4em;
	font-size: inherit;
}

/*
 * Textarea style.
 */
textarea {
    padding: 0.2em 0.4em;
    font-size: inherit;
}

/*
 * Header style.
 */
header {
    position: relative;
    width: 100%;
    padding: 2em 0 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #333;
}

/*
 * Main contents style.
 */
section#main_contents {
	position: relative;
	padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/*
 * Footer style.
 */
footer {
    position: relative;
    width: 100%;
    padding: 1em 0 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #333;
}

/*
 * Side-by-side buttons style.
 */
section#main_contents .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2%;
}

section#main_contents .buttons button {
    flex-grow: 1;
    padding: 1em;
}

/********************
 * CSS for auth page.
 ********************/

/*
 * H2 style.
 */
.AuthPage h2 {
    padding-bottom: 0.5em;
}

/*
 * Form style.
 */
.AuthPage form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.AuthPage form p {
    width: 100%;
    text-align: center;
}

/*
 * Label style.
 */
.AuthPage label {
    display: inline-block;
}

/*
 * Button style.
 */
.AuthPage form button {
    margin-top: 1em;
}

/********************
 * CSS for main page.
 ********************/

.IndexPage form {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
}








/********************
 * CSS for setting page.
 ********************/

/*
 * H2 style.
 */
.SettingIndexPage h2 {
    padding-bottom: 0.5em;
}

/*
 * Form style.
 */
.SettingIndexPage form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.SettingIndexPage form p {
    width: 100%;
    text-align: center;
}

/*
 * Label style.
 */
.SettingIndexPage label {
	display: inline-block;
}

/*
 * Button style.
 */
.SettingIndexPage form button {
    margin-top: 1em;
}
