@charset "UTF-8";

/********************
 * CSS for all.
 ********************/

/*
 * All elements style.
 */
* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
    color: #333;
    font-weight: normal;
    list-style-type: none;
}

/*
 * Animation style.
 */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 3em;
}

h1 img {
    height: 1em;
}

h2 {
    font-size: 1.8em;
}

a:link {
    color: #036eb8;
}

a:visited {
    color: #036eb8;
}

a:hover {
    opacity: 0.5;
}

/*
 * Button style.
 */
button {
	padding: 0.5em 1em;
	font-size: inherit;
}

_::-webkit-full-page-media, _:future, :root button {
	-webkit-appearance: none;
    border-radius: 0;
    background: linear-gradient(#f9f9f9, #eee);
}

/*
 * Input style.
 */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"] {
	padding: 0.2em 0.4em;
    font-size: inherit;
}

/*
 * Select style.
 */
select {
    padding: 0.2em 0.4em;
	font-size: inherit;
}

/*
 * Textarea style.
 */
textarea {
    padding: 0.2em 0.4em;
    font-size: inherit;
}

/*
 * Wait circle style.
 */
img[src$="media/wait_circle.svg"] {
    animation: rotate 2.5s linear infinite;
}

/*
 * Header style.
 */
header {
    position: relative;
    width: 100%;
    padding: 2em 0 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #333;
}

/*
 * Main contents style.
 */
section#main_contents {
	position: relative;
	padding: 2em 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/*
 * Footer style.
 */
footer {
    position: relative;
    width: 100%;
    padding: 1em 0 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #333;
}

/********************
 * CSS for auth page.
 ********************/

/*
 * H2 style.
 */
.AuthPage h2 {
    padding-bottom: 0.5em;
}

/*
 * Form style.
 */
.AuthPage form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.AuthPage form p {
    width: 100%;
    text-align: center;
}

/*
 * Label style.
 */
.AuthPage label {
    display: inline-block;
}

/*
 * Button style.
 */
.AuthPage form button {
    margin-top: 1em;
}

/********************
 * CSS for main page.
 ********************/

/*
 * Menu style.
 */
.IndexPage #menu {
    width: 100%;
    padding: 1em 0;
    text-align: right;
    overflow: hidden;
}

.IndexPage #menu > * {
    vertical-align: middle;
    margin-right: 0.5em;
}

.IndexPage #menu input {
    width: 8em;
    font-size: 80%;
}

.IndexPage #menu a {
    height: 2em;
    display: inline-block;
    text-decoration: none;
    color: #33a;
}

.IndexPage #menu a:hover {
    opacity: 0.6;
}

.IndexPage #menu a:active {
    opacity: 0.4;
}

.IndexPage #menu a img {
    height: 100%;
}

/*
 * Rows style.
 */
.IndexPage #rows {
    width: 100%;
    max-width: 1000px;
}

.IndexPage #rows p#nothing {
    margin: 3em 0 2em;
}

.IndexPage #rows .row {
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.IndexPage #rows .row .left p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.IndexPage #rows .row .left p .icon {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.IndexPage #rows .row .left p label {
    display: inline-block;
    white-space: nowrap;
}

.IndexPage #rows .row .left p input {
    margin: 0.1em;
    border: none;
}

.IndexPage #rows .row .right a {
    width: 1.5em;
    display: inline-block;
    text-decoration: none;
}

.IndexPage #rows .row .right a img {
    width: 100%;
}

.IndexPage #rows .row .right a[disabled="disabled"] img {
    opacity: 0.2;
}

/*
 * Import section style.
 */
.IndexPage #import_section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
}

.IndexPage #import_section > * {
    margin-bottom: 0.5em;
}

.IndexPage #import_section label {
    width: 100%;
}

.IndexPage #import_section textarea {
    width: 100%;
    height: calc(100% - 6em);
}

.IndexPage #import_section p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.IndexPage #import_section p > * {
    margin-left: 0.5em;
}

.IndexPage #import_section p img {
    width: 2em;
}

/********************
 * CSS for setting page.
 ********************/

/*
 * H2 style.
 */
.SettingIndexPage h2 {
    padding-bottom: 0.5em;
}

/*
 * Form style.
 */
.SettingIndexPage form {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.SettingIndexPage form p {
    width: 100%;
    text-align: center;
}

.SettingIndexPage form p:not(:last-child) {
    margin-bottom: 1em;
}

/*
 * Label style.
 */
.SettingIndexPage label {
	display: inline-block;
}

/*
 * Button style.
 */
.SettingIndexPage form button {
    margin-top: 1em;
}
