@charset "UTF-8";

/********************
 * CSS for HTML.
 ********************/

/*
 * All elements style.
 */
* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
    color: #333;
    font-weight: normal;
    font-size: 16px;
    list-style-type: none;
}

/*
 * Scrollbar style.
 */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: #2a7fff;
    border-radius: 0.2em;
}

/*
 * Popup style.
 */
section {
    padding: 1em;
}

/*
 * H1 style.
 */
h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    z-index: 99999;
    padding: 0.6em 0.3em;
    background-color: #fff;
    text-align: left;
    font-size: 2em;
}

h1 img {
    height: 100%;
    max-width: 100%;
}

/*
 * Bookmarks section style.
 */
section#bookmarks {
    display: block;
    margin-top: 6em;
}

/*
 * Anchor style.
 */
a {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

a:hover {
    opacity: 0.7;
}

a:active {
    transform: translateX(0.5em);
}

/*
 * Icon style.
 */
a img.icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

/*
 * Bookmark name style.
 */
a span.name {
    width: calc(100% - 4em);
    margin-right: 0.5em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

/*
 * Edit button style.
 */
a img.edit {
    width: 1em;
    height: 1em;
    opacity: 0.5;
}

/*
 * Grouped Bookmark style.
 */
div.group a.bookmark {
    display: none;
    padding-left: 1em;
}
